PORT=8000
LEVEL=DEV
DOMAIN=localhost:8000

DB_HOST=localhost
DB_USER=bancho
DB_PASS=changeme
DB_NAME=bancho
DB_PORT=3306
DB_TIMEZONE=UTC

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=
REDIS_DB=0

OSU_API_KEY=your_osu_api_key_here
DIRECT_SEARCH=https://osu.direct/api/search
